{% extends 'shop/basic.html'%}
{% block title%} {{product.product_name}} My Awesome Cart {% endblock%}
{% block body%} 
<div class="container my-4">
<div class="row justify-content-evenly">
<div class="col-4">
<img src="/media//{{product.image}}" width="400px" height="425px" class="my-5 pr-5" >
</div>
<div class="col-md-8 ">
    <br>
    <br>
    <br>
    <br>
    <h3>{{product.product_name}}</h3>
    <p>{{product.desc}}</p>
    <br>
    <p><h3><b>Rs. {{product.Price }}/- Only </b></h3></p>
    <br>
    <br>

    <button type="button" class="btn btn-primary mx-2 my-4 ">Add to Cart</button>
    <button type="button" class="btn btn-primary">Buy Now </button>
    <br>
  
</div>
</div>
</div>






{% endblock%}